/* style.css */
a {
  color: black;
}

nav a:hover {
  color: blue;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

#serach {
  width: 200px;
  height: 24px;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.wrap .userinfo-list-box h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}
/* 테이블 */

.wrap .userinfo-list-box {
  width: 100%;
  border-top: 1px solid #444;
  border-collapse: collapse;
  text-align: center;
}

.wrap table th, .wrap table td {
  border-bottom: 1px solid #444;
  padding: 10px;
}

.wrap table tr {
  height: 30px;
}

button {
  background-color: #fff;
  outline: 1px solid black;
  width: 50px;
  height: 30px;
}